@import "tailwindcss";
@plugin "daisyui" {
  themes: light --default;
}

@plugin "daisyui/theme" {
  name: "light";
  default: true;

  --color-primary: #d35400;
  --color-secondary: #16a34a;
  --color-accent: #e91e63;
  --color-neutral: #2e2a25;

  --color-base-100: #ffffff;
  --color-base-200: #f8f4f0;
  --color-base-300: #e7ded7;

  --color-info: #a855f7;
  --color-success: #22c55e;
  --color-warning: #f59e0b;
  --color-error: #dc2626;

  --color-muted: #8b857f;
}
